extends layout

block content
    .container
        .row
            .col-md-4.col-md-offset-4
                .login-panel.panel.panel-default
                    .panel-heading
                        //h3.panel-title Please Sign In
                        img(src="/images/logo.png",class="center-block")
                        
                    .panel-body
                        form(name="login", method="post", action="/login")&attributes({'role':'form'})
                            fieldset
                                .form-group
                                    input(class="form-control",placeholder="E-mailaddress",name="email",type="email",autofocus,required)
                                .form-group
                                    input(class="form-control",placeholder="Password",name="password",type="password",value="",required)
                                    p(style="color:red;float:right;font-size:12px;")=error
                                button(class="btn btn-lg btn-success btn-block",type="submit") Login
    script(src="/javascripts/metisMenu.min.js")
    script(src="/javascripts/sb-admin-2.js") 
                                    
            